@import url('https://fonts.googleapis.com/css?family=Dosis:300,500|Fira+Sans');
@import "mixins";
/**
 * USAGE:
 *
 * for inside a Bootstrap navbar
 * <a class="inline home" href="//charcoal-se.org/"><img src="//charcoal-se.org/assets/images/charcoal.png" height="32"><span>by Charcoal</span></a>
 *
 * If you don’t want a label
 * <a class="inline home no-label" href="//charcoal-se.org/"><img src="//charcoal-se.org/assets/images/charcoal.png" height="32">\</a>
 *
 * freestanding (same location as in navbar)
 * <a class="home" href="//charcoal-se.org/"><img src="//charcoal-se.org/assets/images/charcoal.png" height="32"><span>by Charcoal</span></a>
**/
.home {
  font-family: 'Fira Sans', sans-serif;
  color: $red-text !important;
  text-decoration: none !important;
  display: flex;
  align-items: center;
  width: 32px;
  box-sizing: content-box;
  transition: all 0.4s;

  &:not(:hover) {
    filter: grayscale(100%);
    opacity: 0.4;
  }

  &:not(.inline) {
    position: absolute;
    top: 0;
    left: 5px;
    padding: 12px;
  }
  &.inline {
    @include mobile {
      margin-left: 15px;
      & + .navbar-brand {
        padding-left: 5px;
      }
    }
    margin-right: 10px;
    z-index: 1;
    &:not(.no-label) + .navbar-brand {
      transition: opacity 0.4s;
    }
    &:not(.no-label):hover + .navbar-brand {
      opacity: 0;
    }
  }

  span {
    padding-left: 10px;
    font-size: 1.25em;
    white-space: nowrap;
    transition: all 0.4s;
  }
  &:not(:hover) span {
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
  }
}
