h1, h2, h3, h4, h5, h6 {
  font-family: 'Maven Pro', serif;
}

h1 {
  font-size: 3em;
  letter-spacing: 20px;
  font-variant: small-caps;
  text-align: center;
  @include mobile {
    font-size: 2em;
    letter-spacing: 12px;
  }
}

h4 {
  margin-bottom: 0px;
}
