.big-input {
  font-size: 1em;
  width: 75%;
  display: block;
  margin: auto;
  appearance: none;
  border: none;
  background: transparent;
  color: $red-text;
  border-bottom: 2px solid rgba($red-text, 0.5);
  text-align: center;
  transition: all 0.4s;
  height: 1.5em;

  &::placeholder {
    color: inherit;
    opacity: 0.5;
  }

  &:focus {
    border-color: $red-text;
    outline: none;
  }
}
