$red-bg: #FFCDBF; // old alert BG: #FFC3B7;
$red-text: #AD1D21;
$gray: #ccc;
$gray-bg: #eee;
$gray-text: #555;
$blue-bg: #D9EDF7;
$blue-text: #2667A0;
$dark-gray-text: #333333;

$breakpoint: 768px;
$big-breakpoint: 1567px;
@mixin mobile {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint + 1px) {
    @content;
  }
}

@include mobile {
  .hide-on-mobile, .desktop-only {
    display: none;
  }
}
@include desktop {
  .hide-on-desktop, .mobile-only {
    display: none;
  }
}
