$breakpoint: 768px;
$big-breakpoint: 1567px;
@mixin mobile {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@media (max-width: $breakpoint) {
  .hide-on-mobile, .desktop-only {
    display: none;
  }
}
@media (min-width: $breakpoint) {
  .hide-on-desktop, .mobile-only {
    display: none;
  }
}
