@import "mixins.scss";

.nav-toggle-icon {
  @include desktop {
    visibility: hidden;
  }
  margin: 7px;
  float: right;
  font-size: 1.5em;
  cursor: pointer;
}
#nav-toggle {
  display: none;
  @include mobile {
    &:not(:checked) + .top-nav {
      display: none;
    }
  }
}

nav.nav-dropdown {
  display: flex;
  flex-direction: column;
  @include desktop {
    position: absolute;
    left: 0;
    padding: 0.25em 0.5em;
    margin-top: 0.5em;
    border: 1px solid $gray;
    border-radius: 5px;
  }
  @include mobile {
    margin: 0.5em -0.5em -0.5em;
  }

  text-align: initial;
  white-space: nowrap;

  background: white;

  transition: all 0.4s;
  transform-origin: top right;

  > a {
    text-transform: none;
    @include desktop {
      line-height: 1.5;
    }
    @include mobile {
      padding: 0.5em 1em;
      border-top: 1px solid transparentize($red-text, 0.5);
    }
  }
}
#projects-toggle {
  display: none;
  &:not(:checked) + .nav-dropdown  {
    @include desktop {
      transform: scaleY(0);
      opacity: 0;
    }
    @include mobile {
      display: none;
    }
  }
}

@include desktop {
  .top-nav {
    position: relative;
    height: 36px;
    .main-nav, .search-nav {
      transition: opacity 0.4s;
      position: absolute;
      width: 100%;
    }
    .search-nav {
      display: none;
    }
    .main-nav {
      display: block;
    }
  }
  .top-nav.search-mode {
    .main-nav {
      display: none;
    }
    .search-nav {
      display: block;
    }
  }
}

@include mobile {
  .top-nav {
    .search-nav {
      display: flex; // Magically removes padding at bottom of navbar
      position: relative;
    }
    &:not(.search-mode) {
      .search-nav {
        display: none;
      }
    }
    &.search-mode {
      .main-nav {
        display: none;
      }
    }
  }
}

.top-nav .main-nav {
  top: 0;
  margin: 0;
  padding: 0;
  @include desktop {
    margin-left: -20px;
    margin-right: -20px;
  }

  > li {
    display: inline-block;
    border: 0 solid $red-text;
    border-right-width: 2px;
    line-height: 100%;
    position: relative;

    &:last-child {
      border-right: none;
    }
    @include mobile {
      display: block;
      border-right-width: 0;
      border-top-width: 1px;
      padding: 0.5em;
    }
    @include desktop {
      padding: 0 20px;
    }
    text-transform: uppercase;
    letter-spacing: 0.03em;

    a, .link {
      transition: all 0.2s ease;
      &, &:visited {
        cursor: pointer;
        text-decoration: none !important;
        color: $dark-gray-text;
      }
      &:hover, &:focus, &:active {
        /* Hack courtsey of http://stackoverflow.com/a/14978871/4622463 */
        text-shadow: 1px 0 0 $red-text;
        letter-spacing: 0.03em;
        color: $red-text;
      }
    }

    i {
      text-shadow: none;
    }

    svg {
      vertical-align: top;
    }
  }
}
