.search-nav {
  margin-bottom: -1px;

  .search-icon {
    color: #A9A9A9;
    pointer-events: none;
    left: 0;
  }
  .inline-icon {
    position: absolute;
    z-index: 1;
    width: 1em;
    padding: 0.5em 0;
    top: 1px;
  }
  .close-icon {
    right: 0;
  }

  &.focus {
    .search-icon {
      color: $red-text;
    }
  }

  .algolia-autocomplete {
    width: 100%;

    .aa-input, .aa-hint {
      width: 100%;
      box-sizing: border-box;
      appearance: none;
      border: none;
      margin: 0;
      padding: 0.5em 1.5em;
      background: transparent;
      font: inherit;
    }

    .aa-input {
      border-bottom: 2px solid transparent;
      &:focus {
        outline: none;
        border-bottom-color: $red-text;
      }
    }

    .aa-hint {
      color: #ccc;
      border-bottom: 1px solid transparent;
    }

    .aa-dropdown-menu {
      overflow: hidden;
      width: 100%;
      background-color: #fff;
      border: 1px solid $red-text;
      border-radius: 5px;
      margin-top: 5px;

      .aa-suggestion {
        text-align: left;
        cursor: pointer;
        padding: 5px 4px;
        border-bottom: 1px solid $red-text;
        p {
          margin: 0.25em 0;
        }

        .algolia__result-highlight {
          text-decoration: underline;
          font-weight: bold;
        }

        &.aa-cursor {
          background-color: $red-bg;
          color: $red-text;
        }

        h3 {
          margin: 0;
        }

        .aa-link {
          text-decoration: underline;
          opacity: 0.5;
          font-size: 0.75em;
        }
      }
    }
  }
  .aa-footer {
    display: flex;
    justify-content: flex-end;

    a {
      line-height: 0;

      img {
        font-size: 1.3em;
        margin: 0.5em 0.2em;
      }
    }
  }
}
