.sidebar {
  float: right;
  border: 1px solid lightgray;
  margin-top: -1px;
  padding: 0 1em;
  border-radius: 0 0 3px 3px;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  background: white;

  @include mobile {
    top: 48px;
  }

  .sidebar-content-smokey {
    display: none;
  }
}
