@import "mixins.scss";

.sidebar {
  @include desktop {
    float: right;
    padding: 0 1em 0 calc(1em + 3px);
    border-radius: 3px;
    position: -webkit-sticky;
    position: sticky;
    bottom: -3px;
    background: white;
  }
  border: 1px solid lightgray;

  @include mobile {
    text-align: center;
    border-width: 1px 0;
    margin: 0 -0.5em
  }

  .sidebar-content-smokey {
    display: none;
  }
}
