@import url('https://fonts.googleapis.com/css?family=Dosis:300,500|Source+Sans+Pro');
@import url('https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  margin: 0;
  background: #eee;
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Dosis', sans-serif;
}

h1 {
  font-size: 3.0em;
  letter-spacing: 20px;
  font-variant: small-caps;
  text-align: center;
}

h4 {
  margin-bottom: 0px;
}

.text-center {
  text-align: center;
}

.small {
  font-size: 0.6em;
}

.alert {
  border: 1px solid #31708F;
  border-radius: 3px;
  background: #D9EDF7;
  color: #31708F;
  padding: 7px;
  margin: 0;
}
.link.alert {
  cursor: pointer;
}

.alert p {
  margin: 7px;
  padding: 0;
}

.alert a, .alert a:hover, .alert a:active, .alert a:visited {
  font-weight: bold;
  text-decoration: underline;
  color: #31708F;
}

.body-container {
  width: 70%;
  min-width: 768px;
  background: white;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

@media (max-width: 1567px) {
  .body-container {
    width: 100%;
    max-width: 1100px;
  }
}

.header {
  border-bottom: 1px solid lightgray;
  user-select: none;
}

.header-icon {
  line-height: 0;
}
.header-icon, .navigation {
  margin-bottom: 20px;
}
.header-icon a {
  font-size: 0;
}
.nav-toggle-icon {
  visibility: hidden;
  margin: 7px;
  float: right;
  font-size: 1.5em;
  cursor: pointer;
}
#nav-toggle {
  display: none;
}

.body {
  flex: 1;
}

a, a:visited, a:hover, a:active {
  color: #6B1A00;
  text-decoration: underline;
}

.navigation {
  margin-left: -30px;
  margin-right: -30px;
}
.navigation div {
  display: inline-block;
  border: 0 solid #6B1A00;
  border-right-width: 2px;
  line-height: 100%;
}

.navigation div:last-child {
  border-right: none;
}

.navigation a, .navigation a:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  margin: 0 30px;
  transition: all 0.2s ease;
  letter-spacing: 0.03em;
}

.navigation a:hover, .navigation a:active {
  /* Hack courtsey of http://stackoverflow.com/a/14978871/4622463 */
  text-shadow: 1px 0 0 #6B1A00;
  letter-spacing: 0.03em;
  color: #6B1A00;
}

.footer {
  font-size: 0.8em;
  color: #555;
  margin-top: 30px;
}

#instantclick {
  display: none;
}

.highlight {
  background: #FFCDBF;
}

.sidebar {
  float: right;
  border: 1px solid lightgray;
  margin-top: -1px;
  padding: 0 1em;
  border-radius: 0 0 3px 3px;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  background: white;
}

.big-input {
  font-size: 1em;
  width: 75%;
  display: block;
  margin: auto;
  appearance: none;
  border: none;
  background: transparent;
  color: #6F1A09;
  border-bottom: 2px solid RGBA(111, 26, 9, 0.5);
  text-align: center;
  transition: all 0.4s;
  height: 1.5em;
}
.big-input::placeholder {
  color: inherit;
  opacity: 0.5;
}
.big-input:focus {
  border-color: #6F1A09;
  outline: none;
}

@media (max-width: 768px) {
  body {
    background: white;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    box-shadow: 0 -5px 5px 5px rgba(0, 0, 0, 0.25);
  }
  .navigation, .header-icon {
    margin: 0;
  }
  .header-icon {
    padding: 0.5em;
    text-align: left;
  }
  .header-icon a {
    font-size: 1.5em;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
  }
  .header-icon img {
    height: 32px;
    margin-right: 0.5em
  }
  .header-icon span {
    display: flex;
    flex-direction: column;
    line-height: 0.9;
  }
  .header-icon span small {
    font-size: 0.5em;
    opacity: 0.75;
  }
  .nav-toggle-icon {
    visibility: visible;
  }
  #nav-toggle:not(:checked) + .navigation {
    display: none;
  }
  .navigation div {
    display: block;
    border-right-width: 0;
    border-top-width: 1px;
    padding: 0.5em;
  }
  .body-container {
    padding: 0 8px;
    min-width: 300px;
    width: 100%;
    box-sizing: border-box;
  }
  .body > h1:first-child {
    margin-top: 50px;
  }
  .alert {
    border-left: none;
    border-right: none;
    border-radius: 0;
    margin: 0 -8px;
    padding: 7px 15px;
  }
  h1 {
    font-size: 2em;
    letter-spacing: 12px;
  }
  .footer {
    padding-bottom: 30px;
  }
  .sidebar {
    top: 48px
  }
}
