@import url('https://fonts.googleapis.com/css?family=Dosis:300,500|Source+Sans+Pro');
@import url('https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css');

body {
  margin: 0;
  background: #eee;
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Dosis', sans-serif;
}

h1 {
  font-size: 3.0em;
  letter-spacing: 20px;
  font-variant: small-caps;
  text-align: center;
}

h4 {
  margin-bottom: 0px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.vcenter {
  display: flex;
  align-items: center;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  clear: both;
}

.inline {
  display: inline-block;
}

.small {
  font-size: 0.6em;
}

.alert {
  border: 1px solid #31708F;
  border-radius: 3px;
  background: #D9EDF7;
  color: #31708F;
  padding: 7px;
  margin: 0;
}

.alert p {
  margin: 7px;
  padding: 0;
}

.alert a, .alert a:hover, .alert a:active, .alert a:visited {
  font-weight: bold;
  text-decoration: underline;
  color: #31708F;
}

.body-container {
  width: 70%;
  min-width: 978px;
  background: white;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  border-bottom: 1px solid lightgray;
}

.header-icon {
  margin-bottom: 20px;
}

.navigation {
  margin-bottom: 20px;
}

a, a:visited {
  color: #6B1A00;
  text-decoration: underline;
}

a:hover, a:active {
  color: #6B1A00;
  text-decoration: underline;
}

.navigation div {
  display: inline-block;
  border-right: 2px solid #6B1A00;
  line-height: 100%;
}

.navigation div:last-child {
  border-right: none;
}

.navigation a, .navigation a:visited {
  text-decoration: none;
  font-variant: small-caps;
  color: #333;
  margin: 0 30px;
  transition: all 0.2s ease;
  font-size: 1.6em;
  letter-spacing: 0.03em;
}

.navigation a:hover, .navigation a:active {
  /* Hack courtsey of http://stackoverflow.com/a/14978871/4622463 */
  text-shadow: 1px 0 0 #6B1A00;
  letter-spacing: 0.03em;
  font-variant: small-caps;
  color: #6B1A00;
  margin: 0 30px;
  transition: all 0.2s ease;
  font-size: 1.6em;
}

.footer {
  font-size: 0.8em;
  color: #555;
  margin-top: 30px;
}

#instantclick {
  display: none;
}

.highlight {
  background: #FFCDBF;
}
